.projects{

    height:100%;

    display:grid;

    grid-template-columns:
    repeat(8, 1fr);

    grid-template-rows:
    repeat(4, 1fr);

}



.project{

    border-right:1px solid #111;
    border-bottom:1px solid #111;

    padding:8px;

}



.project img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;

    transition:
    transform .4s ease;

}



.project:hover img{

    transform:scale(1.05);

}
